img {
  max-height: 90%;
  max-width: 90%;
}

.min-width {
  min-width: 559px;
}

.darken {
  background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.075));
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
