<div class="page-header text-center min-width">
  <h2 *ngIf="unableToLoad">Something went wrong.</h2>
  <h2 *ngIf="!unableToLoad">{{ capitalize(session.appMode) }} - Instructions</h2>
</div>

<!-- Unable to load the correct appMode -->
<div *ngIf="unableToLoad" class="container h-full min-width">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning text-center">
        <div>
          <p>
            We apologize for the inconvenience. The application has been reset in the middle of the study and cannot
            continue.
          </p>
          <span>
            Please <strong>contact</strong> Adam Coscia at
            <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
            to let us know what happened and close this page. Please include the approximate time this failure occured
            as well.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Load the task description, instructions and possible reviews -->
<div *ngIf="!unableToLoad" class="container h-full min-width">
  <div *ngIf="session.appMode == 'service'" class="row">
    <div class="col-md-12">
      <!-- DESCRIPTION -->
      <div>
        <p>{{ assets.task.description }}</p>
      </div>

      <!-- INSTRUCTIONS -->
      <div>
        <!-- HEADER -->
        <h5 class="text-center">Your Task</h5>
        <!-- BODY -->
        <div class="alert alert-info">
          <!-- OVERVIEW -->
          <div>
            {{ assets.task.instructions.overview }}
          </div>
          <!-- CONDITION-SPECIFIC -->
          <div *ngIf="assets.task.instructions[session.appType]">
            <br />
            {{ assets.task.instructions[session.appType] }}
          </div>
        </div>
      </div>

      <!-- REVIEWS (Intervention ONLY) -->
      <div *ngIf="['BTWN', 'WTHN', 'BOTH'].indexOf(session.appType) !== -1">
        <!-- HEADER -->
        <h5 class="text-center">Reviews</h5>
        <!-- BODY -->
        <div>
          <!-- OVERVIEW -->
          <div class="alert">
            {{ assets.task.reviews.overview }}
          </div>
          <!-- CARDS -->
          <div class="card-grid text-center">
            <div *ngFor="let r of getReviews()" class="card">
              <h5 class="card-header">{{ r.author }}</h5>
              <div class="card-body">
                <p>
                  <span>{{ r.date }}</span>
                  <br />
                  <span *ngIf="r.type == 'company'">{{ r.location }}</span>
                  <span *ngIf="r.type == 'user'">{{ r.job }}</span>
                </p>
                <p>
                  <i>"{{ r.body }}"</i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <h5 class="text-center">Ready?</h5>
      <div class="alert alert-warning">
        <div class="row flex-nowrap">
          <div class="col-10 col-md-11 text-center center-all">
            <span>
              Please complete the entire study in one session. Do not press the <strong>back</strong> or
              <strong>forward</strong> buttons, or <strong>refresh</strong> any pages in the application, until you have
              reached the 'Thank You' page at the end of the study. Click the <strong>Begin Task</strong> button at
              right to continue!
            </span>
          </div>
          <div class="col-2 col-md-1 center-all">
            <button (click)="next()" class="btn btn-sm btn-outline-dark">Begin Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
