<div class="page-header text-center min-width">
  <h2 *ngIf="unableToLoad">Something went wrong.</h2>
  <h2 *ngIf="!unableToLoad">Thank You!</h2>
</div>

<!-- Unable to load the correct appMode -->
<div *ngIf="unableToLoad" class="container  min-width">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning text-center">
        <div>
          <p>
            We apologize for the inconvenience. The application has been reset in the middle of the study and cannot
            continue.
          </p>
          <p>
            Please <strong>contact</strong> Adam Coscia at
            <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
            to let us know what happened.
          </p>
          <span>Please include the approximate time this failure occured.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Load the page -->
<div *ngIf="!unableToLoad" class="container  min-width">
  <div class="row">
    <div class="col">
      <div class="alert alert-info text-center">
        If you'd like to learn more about this study, please <strong>contact</strong> Adam Coscia at
        <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
      </div>
    </div>
  </div>
</div>
