.min-width {
  min-width: 542px;
}

.list-group {
  padding-top: 0.25rem;
}

.list-group-item {
  padding: 0.25rem;
  border: 0;
}

.sub-list-group {
  padding-left: 1.25rem;
}

.darken {
  background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.075));
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
