<!-- UNABLE TO LOAD -->
<ng-container *ngIf="unableToLoad">
  <!-- HEADER -->
  <div class="container page-header min-width">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Something went wrong.</h2>
      </div>
    </div>
  </div>

  <!-- BODY -->
  <div class="container h-full min-width">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning text-center">
          <div>
            <p>
              We apologize for the inconvenience. The application has been reset in the middle of the study and cannot
              continue.
            </p>
            <span>
              Please <strong>contact</strong> Adam Coscia at
              <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
              to let us know what happened and close this page. Please include the approximate time this failure occured
              as well.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- APPLICATION CAN LOAD -->
<ng-container *ngIf="!unableToLoad">
  <!-- WHILE APP IS NOT CONNECTED DISPLAY THIS -->
  <ng-container *ngIf="!socketConnected">
    <!-- HEADER -->
    <div class="container page-header text-center min-width">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Connecting...</h2>
        </div>
      </div>
    </div>

    <!-- BODY -->
    <div class="container h-full min-width">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info text-center">
            Please wait while the application establishes a connection to our server...
          </div>
          <br />
          <div class="alert alert-warning text-center">
            <p>Please <strong>DO NOT</strong> refresh the page during this process.</p>
            <p><strong>Note: This may take 2-3 minutes, depending on your internet connection speed.</strong></p>
            <span>
              If the application does not load after 3 minutes, please <strong>contact</strong> Adam Coscia at
              <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
              to let us know what happened. Please include the approximate time this failure occured.
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- ONCE APP IS CONNECTED DISPLAY THIS -->
  <ng-container *ngIf="socketConnected">
    <!-- HEADER -->
    <div class="container page-header min-width">
      <div class="row flex-nowrap" style="align-items: center">
        <div class="col text-left text-nowrap">
          <h2>{{ capitalize(session.appMode) }} Task</h2>
        </div>
        <div class="col text-right text-nowrap">
          <button [disabled]="!taskComplete" (click)="next()" class="btn btn-sm btn-outline-dark">Finish</button>
        </div>
      </div>
    </div>

    <!-- BODY -->
    <div class="container h-full min-width">
      <!-- PRACTICE TASK -->
      <div *ngIf="session.appMode == 'practice'" class="row">
        <div class="col-md-12">
          <!-- INSTRUCTIONS -->
          <div>
            <div class="alert alert-info">
              This is an example of a decision-making task you will be performing during the study.
            </div>
            <p>
              Below are {{ assets.scenarios[currentScenario].choices.length }} fictitious profiles of people looking to
              be hired. Your task is to pick one of the profiles by clicking on the card below.
            </p>
          </div>

          <!-- CARDS -->
          <div class="card-grid text-center">
            <div *ngFor="let c of getCards()" class="card" [id]="getCardId(c.id)"
              [ngClass]="c.id == userConfig.selectedCandidateId ? 'card-selected' : 'card-unselected'"
              (click)="onSelectCandidate($event, c.id)">
              <h5 class="card-header">Candidate {{ c.id }}</h5>
              <img class="img-thumbnail card-image" [src]="c.fp" />
            </div>
          </div>
        </div>
      </div>

      <!-- SERVICE TASK -->
      <div *ngIf="session.appMode == 'service'" class="row">
        <div class="col-md-12">
          <p>Service Task - Coming Soon</p>
        </div>
      </div>

      <!-- COOKING TASK -->
      <div *ngIf="session.appMode == 'cooking'" class="row">
        <div class="col-md-12">
          <p>Cooking Task - Coming Soon</p>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
