<!-- UNABLE TO LOAD -->
<ng-container *ngIf="unableToLoad">
  <!-- HEADER -->
  <div class="container page-header min-width">
    <div class="row">
      <div class="col text-center">
        <h2>Something went wrong.</h2>
      </div>
    </div>
  </div>

  <!-- BODY -->
  <div class="container min-width">
    <div class="row">
      <div class="col">
        <div class="alert alert-warning text-center">
          <p>We apologize for the inconvenience. The application has been reset and cannot continue.</p>
          <p>
            Please <strong>contact</strong> Adam Coscia at
            <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
            to let us know what happened and include the approximate time this failure occured. Then close this page.
          </p>
          <strong>Do NOT attempt to redo this study.</strong>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- APPLICATION CAN LOAD -->
<ng-container *ngIf="!unableToLoad">
  <!-- WHILE APP IS NOT CONNECTED DISPLAY THIS -->
  <ng-container *ngIf="!socketConnected">
    <!-- HEADER -->
    <div class="container page-header text-center min-width">
      <div class="row">
        <div class="col text-center">
          <h2>Connecting...</h2>
        </div>
      </div>
    </div>

    <!-- BODY -->
    <div class="container min-width">
      <div class="row">
        <div class="col">
          <div class="alert alert-info text-center">
            Please wait while the application establishes a connection to our server...
          </div>
          <br />
          <div class="alert alert-warning text-center">
            <p>Please <strong>DO NOT</strong> refresh the page during this process.</p>
            <p><strong>Note: This may take 2-3 minutes, depending on your internet connection speed.</strong></p>
            <p>
              If the application does not load after 3 minutes, please <strong>contact</strong> Adam Coscia at
              <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
              to let us know what happened and include the approximate time this failure occured. Then close this page.
            </p>
            <strong>Do NOT attempt to redo this study.</strong>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- ONCE APP IS CONNECTED DISPLAY THIS -->
  <ng-container *ngIf="socketConnected">
    <!-- HEADER -->
    <div class="container page-header min-width">
      <div class="row flex-nowrap" style="align-items: center">
        <div class="col text-left text-nowrap">
          <h2>{{ capitalize(session.appMode) }} Task</h2>
        </div>
        <div class="col text-right text-nowrap">
          <button [disabled]="!taskComplete" (click)="next()" class="btn btn-sm btn-outline-dark">Finish</button>
        </div>
      </div>
    </div>

    <!-- BODY -->
    <div class="container min-width">
      <div class="row">
        <div class="col">
          <!-- INSTRUCTIONS: PRACTICE -->
          <div *ngIf="session.appMode == 'practice'">
            <div class="alert alert-info">
              This is an example of a decision-making task you will be performing during the study.
            </div>

            <ul>
              <li>
                Below are performance metrics for {{ assets.scenarios[currentScenario].choices.length }} fictitious
                grocery stores. Your task is to choose what you feel is the <strong>best</strong> grocery store based on
                these metrics.
              </li>
              <li>
                You can optionally choose to get a <strong>recommendation</strong> from our AI by clicking the
                <i>"Recommend"</i> button.
              </li>
              <li>
                When you are comfortable with your selection, click the <i>"Save"</i> button. During the real tasks,
                clicking the <i>"Save"</i> button will bring up another round as the task requires. For now, only one
                round will be presented.
              </li>
              <li>
                Once your selection during the final round has been saved, the <i>"Finish"</i> button in the top-right
                corner will become active, allowing you to move on to the next task.
              </li>
            </ul>
          </div>

          <!-- TASK INCOMPLETE -->
          <ng-container *ngIf="!taskComplete">
            <!-- INSTRUCTIONS: LIVE -->
            <div *ngIf="session.appMode !== 'practice'">
              <div class="alert alert-info text-center">
                <strong>Task {{ currentScenario + 1 }}&nbsp;/&nbsp;{{ assets.scenarios.length }}:&nbsp;</strong>
                <i>
                  Please choose 1 out of the {{ assets.scenarios[currentScenario].choices.length }} {{ assets.title }}s
                  below.
                </i>
              </div>
            </div>

            <!-- OPTIONS -->
            <div class="alert alert-warning">
              <div class="row">
                <!-- LEFT COL: RECOMMENDATION -->
                <div class="col-6 center-all text-center" style="border-right: 1px solid lightgrey">
                  <div class="col-8 center-all text-center">
                    <strong>Recommend a {{ assets.title }}:</strong>
                  </div>
                  <div class="col-4 center-all">
                    <button [disabled]="loadingRecommendation || !hideRecommendation || taskComplete"
                      (click)="getRecommendation()" class="btn btn-sm btn-outline-dark">
                      Recommend
                    </button>
                  </div>
                </div>
                <!-- RIGHT COL: SAVE SELECTION -->
                <div class="col-6 center-all text-center" style="border-left: 1px solid lightgrey">
                  <div class="col-8 center-all text-center">
                    <strong>Save selected {{ assets.title }}:</strong>
                  </div>
                  <div class="col-4 center-all">
                    <button [disabled]="!selectedId || taskComplete" (click)="saveSelection()"
                      class="btn btn-sm btn-outline-dark">
                      {{ taskComplete ? "Saved" : "Save" }}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- RECOMMENDATION -->
            <div *ngIf="loadingRecommendation" class="alert alert-info text-center" style="margin-bottom: 0">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="!hideRecommendation" class="alert alert-info text-center" style="margin-bottom: 0">
              <strong>AI recommendation:&nbsp;</strong><i>"{{ assets.scenarios[currentScenario].bot }}"</i>
            </div>

            <!-- SELECTIONS -->
            <div class="card-grid text-center">
              <div *ngFor="let c of getCards()" class="card" [id]="getCardId(c.id)"
                [ngClass]="c.id == selectedId ? 'card-selected' : 'card-unselected'"
                (click)="onSelectCard($event, c.id)">
                <h5 class="card-header">{{ capitalize(assets.title) }}&nbsp;{{ c.id }}</h5>
                <img class="img-thumbnail card-image" [src]="c.filepath" />
              </div>
            </div>
          </ng-container>

          <!-- TASK COMPLETE -->
          <ng-container *ngIf="taskComplete">
            <div class="alert alert-info">
              Task complete! Please click the <i>"Finish"</i> button in the top-right corner to continue.
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
