<div class="page-header text-center min-width">
  <h2 *ngIf="unableToLoad">Something went wrong.</h2>
  <h2 *ngIf="!unableToLoad">Background Questionnaire</h2>
</div>

<div *ngIf="unableToLoad" class="container h-full min-width" style="padding-bottom: 15px">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning text-center">
        We apologize for the inconvenience. The application may have been refreshed, reset, or navigated in an
        unauthorized way. The application cannot continue.
        <br />
        <br />
        Please close this page and click on the link provided for this study and start the assignment over from the
        beginning.
        <br />
        <br />
        If you reach this page multiple times, please contact Adam Coscia at
        <a href="mailto: acoscia6@gatech.edu">acoscia6@gatech.edu</a>
        to let us know what happened and close this page.
      </div>
    </div>
  </div>
</div>

<div *ngIf="!unableToLoad" class="container h-full min-width">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning">
        Please <strong>copy and paste</strong> this into the first text box of the survey:
        <strong style="color: red">{{ session.participantId }}</strong>
      </div>

      <div class="text-center" style="margin-bottom: 1rem">
        <iframe id="survey" [src]="backgroundSurveyURL" width="100%" [style.height.px]="surveyHeight" frameborder="0"
          marginheight="0" marginwidth="0" (window:resize)="setSurveyHeight($event)"></iframe>

        <div *ngIf="!iFrameLoaded" style="width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 2rem">
          <h3>Loading Survey...</h3>
          <div class="alert">
            <div class="row flex-nowrap">
              <div class="col-md-12 text-center">
                <p>
                  If this message does not go away, please use this link to take the survey and receive your
                  continuation code:
                </p>
                <a [attr.href]="backgroundSurveyURL" target="_blank" [innerHTML]="appConfig['backgroundSurveyURL']"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-info">
        <div class="row flex-nowrap">
          <div class="col-7 col-md-8 center-all text-center">
            <span>
              Once you have <strong>submitted</strong> the survey, please type in the code displayed above to enable the
              <strong>Next</strong> button.
            </span>
          </div>

          <div class="col-3 col-md-3 center-all">
            <input (keyup)="onKey($event)" />
          </div>

          <div class="col-2 col-md-1 center-all">
            <button [disabled]="!inputValid" (click)="next()" class="btn btn-sm btn-outline-dark">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
